.reviews {
    padding: 0% 5% 5% 5%;
    text-align: center;

    .reviews-heading {
        margin-bottom: 3%;
    }

    .reviews-review {
        padding-top:6%;
        position: relative;
        img {
            width: 20%;
            position: absolute;
            top: 8%;
            left: 40%;
        }
        .reviews-person {
            padding: 15% 5% 2% 5%;
            background-color: $VaryLightGray;
            
            h3 {
                margin-bottom: 20px;
            }
        }

    }
    
    .reviews-cta {
        padding-top: 3%;
    }

}